data_prep/results/
data_test/results/
module_01/checkV/bin/checkv.sif
module_01/checkV/results/
tmp/
module_01/annotate/results/
module_01/MMseq2/results/
module_01/filtering/results/
module_02/MMseq2/taxonomy/
module_02/MMseq2/results/
module_02/MMseq2/*err
module_02/MMseq2/*out
